@import '@/styles/abstracts/functions';

.experience {
  border-top: 3px solid $basic-black;
  border-bottom: 3px solid $basic-black;
}

.experience-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
