.project-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-list {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem(10);
}

.project-item {
  width: 100%;
  height: fit-content;
  -webkit-user-drag: none;

  &:hover {
    .project-image {
      clip-path: inset(3% 3% 3% 3%);
      img {
        transform: scale(1.1);
      }
    }
  }
}

.project-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.3s ease;
  background: $background-deep-color;

  img {
    position: relative;
    object-fit: cover;
    transition: transform 0.3s;
    width: 100%;
    height: auto;
    opacity: 0;
  }

  .blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1;
  }
}

.project-header {
  position: relative;
  width: 100%;
  padding: rem(20) 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.3s;
  transform-origin: center bottom;

  .classification {
    font-size: rem(14);
    opacity: 0.5;
    font-weight: 600;
    opacity: 0;
    color: $primary-color;
    margin-bottom: rem(4);
  }

  .title {
    font-size: rem(24);
    font-weight: 500;
    margin-bottom: rem(8);
    opacity: 0;
  }
}

.project-content {
  padding: rem(16) rem(10);

  .description {
    width: 100%;
    color: $text-mute-color;
    font-size: rem(16);
    font-weight: 600;
    z-index: 2;
  }

  .stacks {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: rem(10);

    span {
      font-size: rem(14);
      font-weight: 600;
      border-radius: rem(4);
      opacity: 0.5;

      &::after {
        content: '·';
        position: relative;
        margin: 0 rem(6);
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}
