@import '@/styles/abstracts/mixins';
@import '@/styles/abstracts/functions';

.loading-wrapper {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($basic-white, 0.5);
}

.loading-spinner {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 4px solid rgba($primary-color, 0.4);
  border-top-color: $primary-color;
  border-bottom-color: $primary-color;
  border-radius: 100%;
  animation: spin 1s ease-in-out infinite;

  @keyframes spin {
    100% {
      transform: rotate(180deg);
    }
  }
}
