@import '@/styles/abstracts/mixins';
@import '@/styles/abstracts/functions';

.career {
  margin-top: 40px;
}
.card {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 85%;
  margin: 0 auto;
  gap: 24px;

  &__period {
    position: relative;
    text-align: right;

    span {
      position: relative;
      display: inline-block;
      color: $primary-color;
      font-size: 18px;
      font-family: var(--font-safiro);
      padding-right: 16px;
      border-right: 2px solid rgba($basic-black, 0.15);

      &:before {
        content: '';
        position: absolute;
        left: -12px;
        top: 2px;
        width: 6px;
        height: 6px;
        background-color: $primary-color;
        border-radius: 50%;
      }
    }
  }

  &__head {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    .company {
      display: flex;
      flex-direction: column;
      strong {
        font-size: 32px;
      }
      span {
        margin-top: 8px;
        font-size: 16px;
        opacity: 0.8;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .summary {
      font-size: 18px;
      line-height: 1.5;
      border-radius: 12px;
      background: rgba($basic-black, 0.07);
      border: 1px solid #dce2e0;
      padding: 16px;
    }

    .detail {
      border-radius: 12px;
      background: rgba($basic-black, 0.07);
      border: 1px solid #dce2e0;
      padding: 16px;
    }
    ul {
      padding-left: 24px;
    }

    ul li {
      position: relative;
      line-height: 1.7em;
      font-size: 18px;
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        left: -15px;
        top: calc(1.7em / 2 - 3px);
        width: 6px;
        height: 6px;
        background: $basic-black;
        border-radius: 10px;
        box-sizing: border-box;
        opacity: 0.4;
      }

      > ul {
        margin-bottom: 8px;
      }
      > ul li {
        &:before {
          top: calc(1.7em / 2 - 1px);
          width: 7px;
          height: 2px;
          border-radius: 0;
        }
      }
    }
  }
}

@include mobile {
  .career {
    margin-top: 20px;
  }
  .card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 8px;

    &__period {
      text-align: left;
      span {
        border: 0;
        padding-right: 0;
        margin-left: 16px;
      }
    }

    &__content {
      .summary {
        padding: 12px;
      }
      .detail {
        padding: 12px 12px 12px 8px;
      }
    }
  }
}
