:root {
}

$basic-white: #ffffff;
$basic-black: #1a1a1a;
$primary-color: #ff3055;
// $background-color: #fffdf3;
$background-color: #ededed;

$text-color: $basic-black;
$hover-bg-color: #0000000a;

$container-width: 1680px;
