$basic-white: #ffffff;
$basic-black: #1a1a1a;
// $primary-color: #ff7830;
// $primary-color: #0bbb88;
$primary-color: #ff3055;
$background-color: #ededed;

$text-color: $basic-black;
$hover-bg-color: #0000000a;

$container-width: 1680px;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;
