:root {
}

$basic-white: #ffffff;
$basic-black: #1a1a1a;
// $primary-color: #fe3928;
$primary-color: #ff6a30;
$background-color: #fffcef;
// $background-color: #ebebeb;

$text-color: $basic-black;
$hover-bg-color: #0000000a;

$container-width: 1680px;
