/* global variables */
$base-font: 16;
$desktop-screen: 1920;

// colors
$white-color: #fff;
$black-color: #111111;
$text-color: $black-color;
$border-color: $black-color;
$border-mute-color: #11111120;
$text-mute-color: #c7bdb0d1;

$background-color: #f0ece6;
$background-hover-color: #ede7de;
$background-deep-color: #e5ddd3;
$inverse-text-color: $background-color;

$primary-color: #0fca85;
$accent-color: #f5351f;
$border-accent-color: #db3421;
$selection-color: #0fca8581;
