/* global variables */
$base-font: 16;
$desktop-screen: 1920;

// colors
$black-color: #111111;
$border-color: $black-color;
$border-mute-color: #11111120;

$background-color: #f0ece6;
$background-hover-color: #ede7de;

$accent-color: #f5351f;
$border-accent-color: #db3421;
$selection-color: rgba(233, 47, 18, 0.44);
