@import './base/default';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/functions';

body {
  color: $text-color;
  font-size: 20px;
  background-color: $background-color;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
