@use './default';
@use './fonts';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  font-family: 'PublicSans';
  font-size: 100vw / $desktop-screen * 16;
}

body {
  overflow-x: hidden;
}

* {
  cursor: none;
}

// @media screen and (max-width: 1280px) {
//   html {
//     font-size: 100vw / 1280 * 16;
//   }
// }
