@use './default';
@use './fonts';
@use 'sass:math';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

* {
  cursor: none;
}

::selection {
  background-color: $selection-color;
}

html {
  font-family: 'PublicSans';
  font-size: math.div(100vw, $desktop-screen) * 16;
  background-color: $background-color;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
}

.link {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: rem(1.5);
    background-color: currentColor;
    transition: width 0.3s;
  }

  &:hover::after {
    left: 0;
    right: unset;
    width: 100%;
  }
}

.stagger-item {
  opacity: 0;
}
// @media screen and (max-width: 1280px) {
//   html {
//     font-size: 100vw / 1280 * 16;
//   }
// }
