@import '@/styles/abstracts/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 32px 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 300px;
    background: linear-gradient($background-color 20%, transparent);
    pointer-events: none;
    z-index: -1;
  }
}

.header-emblem {
  position: absolute;
  left: 50%;
  top: 40px;
  height: 30px;
  font-size: 60px;
  line-height: 0.8;
}

.header-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-bl {
  display: flex;
  align-items: flex-start;

  .logo a {
    font-size: 36px;
    font-family: var(--font-safiro);
  }

  .desc {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 110px;
    line-height: 1.4;
    font-family: var(--font-safiro);
  }
}

.menu-bar {
  display: flex;
  align-items: center;

  &_list {
    display: flex;
  }

  &_item {
    a {
      font-family: var(--font-safiro);
      text-transform: uppercase;
    }
    & + &:before {
      content: '/';
      position: relative;
      display: inline-block;
      margin: 0 16px;
      opacity: 0.7;
    }
  }

  .dropdown {
    position: relative;
    margin-left: 100px;
    button {
      width: 110px;
      padding: 8px 16px;
      border-radius: 12px;
      border: 1px solid $text-color;
      span {
        font-size: 16px;
        font-family: var(--font-safiro);
        text-transform: uppercase;
        padding-right: 20px;
        background-image: url('../../../assets/images/ico/ic-arrow-up-right_bk.svg');
        background-position: right center;
        background-size: 16px;
        background-repeat: no-repeat;
      }
    }

    &:hover {
      button {
        background: $hover-bg-color;
      }
      .dropdown_popover {
        display: block;
      }
    }

    &_popover {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      padding-top: 8px;

      &-inner {
        padding: 8px 0;
        border: 1px solid $text-color;
        border-radius: 12px;
        background-color: $background-color;
      }

      ul li {
        text-align: center;
        a {
          display: block;
          padding: 8px 16px;
          color: black;
          font-size: 16px;
          text-transform: uppercase;
          font-family: var(--font-safiro);
        }

        &:hover a {
          background: $hover-bg-color;
        }
      }
    }
  }
}
