@import '@/styles/abstracts/mixins';
@import '@/styles/abstracts/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 32px 40px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 200px;
    pointer-events: none;
    z-index: -1;
    background: linear-gradient(180deg, $background-color, transparent);
  }
}

.header-emblem {
  position: absolute;
  left: 50%;
  top: 40px;
  height: 30px;
  font-size: 60px;
  line-height: 0.8;
}

.header-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-bl {
  display: flex;
  align-items: flex-start;

  .logo a {
    font-size: 36px;
    font-family: var(--font-safiro);
  }

  .desc {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 110px;
    line-height: 1.4;
    font-family: var(--font-safiro);
  }
}

.menu-bar {
  display: flex;
  align-items: center;

  &_list {
    display: flex;
  }

  &_item {
    a {
      font-family: var(--font-safiro);
      text-transform: uppercase;
    }
    & + &:before {
      content: '/';
      position: relative;
      display: inline-block;
      margin: 0 16px;
      opacity: 0.7;
    }
  }
}

@include tablet {
  .header {
    padding: 24px;
    &:before {
      height: 150px;
    }
  }
  .header-inner {
    align-items: center;
  }
  .header-emblem {
    display: none;
  }
  .header-bl {
    .desc {
      display: none;
    }
  }
}

@include mobile {
  .header {
    padding: 8px 24px;

    &:before {
      height: 100%;
      background: $background-color;
    }
  }
}
