@import '@/styles/abstracts/mixins';
@import '@/styles/abstracts/functions';

.page {
  overflow-x: hidden;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.splash {
  position: relative;
  height: 500px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  .splash-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    img {
      object-fit: cover;
    }
  }
}

.section {
  padding: clamp(60px, desktop-vw(80px), 80px) 0;
}
.section.profile {
  padding: 40px 0;
}

.section.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  .history-list {
    line-height: 1.4;

    .history-item {
      display: flex;
      gap: 12px;
      padding: 24px 12px;
    }
    .history-head {
      flex-shrink: 0;
      .date {
        position: relative;
        display: block;
        font-size: 24px;
        font-family: var(--font-safiro);
        color: $primary-color;

        &:after {
          content: '/';
          position: relative;
          display: inline-block;
          margin: 0 12px;
          opacity: 0.25;
          font: inherit;
        }
      }
    }

    .title {
      font-size: clamp(24px, desktop-vw(32px), 32px);
    }
    .desc {
      font-size: clamp(18px, desktop-vw(20px), 20px);
      opacity: 0.7;
      font-weight: 300;
    }
  }
}

.section.contact {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

@include tablet {
  .splash {
    height: 400px;
  }

  .section {
    padding: tablet-vw(60px) 0;
  }

  .section.history {
    .history-list {
      .history-item {
        flex-direction: column;
      }

      .history-head {
        .date {
          font-size: 20px;
        }
      }
    }
  }
  .section.contact {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

@include mobile {
  .splash {
    height: 200px;
  }

  .section {
    padding: 40px 0;
  }

  .section.profile {
    padding-top: 30px;

    .actions {
      justify-content: flex-start;
      gap: 8px;
    }
  }

  .section.history {
    grid-template-columns: 1fr;
    .history-list {
      .history-item {
        gap: 0;
        padding: 12px 0;
      }
      .history-content {
        margin-top: 8px;
      }
    }
  }
}
