.container {
}

.hero {
  padding: rem(100) 0;
}

.title {
  font-size: rem(180);
  font-weight: 500;
  line-height: 0.9;
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  line-height: 1.2;

  .title-rolling {
    display: flex;
    white-space: nowrap;
    width: fit-content;
  }

  .title-line {
    font: inherit;
    display: block;
    background-color: $background-color;
    flex-shrink: 0;
    padding: 0 rem(20);
  }
}

.projects {
  width: 100%;
  margin-top: rem(120);
}
