.title {
  font-size: rem(240);
  font-weight: 500;
  line-height: 0.9;
  text-align: center;
  margin: rem(40) 0;

  &-line {
    overflow: hidden;
    span {
      display: inline-block;
    }
  }
}

.projects {
  width: 100%;
  margin-top: rem(120);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
