@import '@/styles/abstracts/mixins';
@import '@/styles/abstracts/functions';

.profile-box {
  display: grid;
  grid-template-columns: 36% 1fr;
  align-items: center;
}

.profile-canvas {
  position: relative;
  &:after {
    content: '';
    padding-bottom: 100%;
    position: relative;
    display: block;
  }

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.profile-text {
  font-family: var(--font-safiro);
  h4 {
    font-weight: 500;
    font-size: clamp(24px, desktop-vw(50px), 50px);
    margin-bottom: 24px;
  }

  .description {
    line-height: 1.4;
    font-size: clamp(18px, desktop-vw(24px), 24px);
    margin-top: 20px;
    strong {
      color: $primary-color;
      font-weight: 500;
    }
    p {
      margin-top: 8px;
    }
  }
}

.actions {
  padding: 20px 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  .button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: $basic-black;
    line-height: 0;
    overflow: hidden;

    .btn-inner {
      display: inline-block;
      overflow: hidden;
      padding-right: 20px;
      background-image: url('/assets/images/ico/ic-arrow-up-right_wh.svg');
      background-size: 16px;
      background-position: right center;
      background-repeat: no-repeat;
    }
    .btn-value {
      position: relative;
      display: inline-block;
      color: $basic-white;
      font-size: 18px;
      font-family: var(--font-safiro);
      line-height: 1.2;
      text-transform: capitalize;
      &:after {
        font: inherit;
        left: 0;
        position: absolute;
        top: 100%;
      }
    }

    &.primary {
      background-color: $primary-color;
    }

    &:hover {
      .btn-value {
        transform: translateY(-100%);
        transition: 0.2s ease;
      }
    }
    &.notion .btn-value:after {
      content: 'notion';
    }
    &.github .btn-value:after {
      content: 'github';
    }
  }
}

@include tablet {
  .profile-text {
    h4 {
      font-size: tablet-vw(22px);
      margin-bottom: 12px;
    }
    .description {
      margin-top: 12px;
      font-size: 16px;
      word-break: break-all;
    }
  }

  .actions a {
    font-size: 16px;
  }
}

@include mobile {
  .profile-box {
    grid-template-columns: 1fr;
  }
  .profile-canvas {
    width: 80%;
    margin: 0 auto;
  }
  .profile-text {
    margin-top: 24px;
    h4 {
      font-size: mobile-vw(22px);
      letter-spacing: -0.02em;
    }
    .description {
      font-size: 18px;
    }
  }
}
