@import '@/styles/abstracts/functions';

.rolling {
  pointer-events: none;
}

.rolling-inner {
  display: flex;
  white-space: nowrap;
  gap: 24px;
  transform: translateX(-50%);
}

.rolling-text {
  color: #dbdcdf;
  font-size: desktop-vw(140px);
  font-weight: 700;
}
