@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/functions';

.footer {
  position: relative;
  padding: 100px 0 120px;
  text-align: center;

  &:before {
    content: '';
    display: block;
    background: linear-gradient(0deg, #b8d5d4 20%, transparent);
    pointer-events: none;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.message span {
  font-size: clamp(16px, desktop-vw(165px), 165px);
  font-family: var(--font-safiro);
  font-style: italic;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.contact {
  text-align: right;
  padding-right: 16px;
}

.contact button {
  padding: 8px 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: var(--font-safiro);
  text-transform: capitalize;
  border-radius: 100px;
  border: 2px solid $text-color;
  color: $text-color;

  span {
    font: inherit;
    padding-right: 30px;
    background-image: url('/assets/images/ico/ic-arrow-up-right_bk.svg');
    background-size: 24px;
    background-position: right center;
    background-repeat: no-repeat;
  }
}

.copyright {
  margin-top: 20px;
  font-weight: 300;
  opacity: 0.7;
}
